<div class="main-container">
  <div class="show-header">
    <h2><%= @list.name %></h2>
    <div class="show-navigation">
      <%= link_to("Add new bookmark", list_new_bookmark_path(@list), class: "btn btn-primary") %>
      <%= link_to("Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-warning") %>
    </div>
  </div>
  <div class="bookmarks-container">
    <% @bookmarks.each do |bookmark| %>
      <div class="bookmark-card">
        <img src="<%= bookmark.movie.poster_url%>" alt="" class="movie-poster">
        <h3 id="title-link"><%= link_to(bookmark.movie.title, movie_path(bookmark.movie)) %></h3>
        <div class="icons-wrapper">
          <p><i class="fa-solid fa-star"></i> <%= bookmark.movie.rating %> on IMDB</p>
          <%= link_to delete_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
        <p id="comment-text">"<%= bookmark.comment %>"</p>
      </div>
    <% end %>
  </div>
</div>