<div class="main-container">
  <h1><%= @list.name %></h1>
  <p><%= link_to("Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) %></p>
  <div class="bookmarks-container">
    <p><%= link_to("Add a new bookmark", list_new_bookmark_path(@list)) %></p>
    <% @bookmarks.each do |bookmark| %>
      <div class="bookmark-card">
        <p><%= bookmark.comment %></p>
        <p><%= bookmark.movie.title %></p>
        <p><%= bookmark.movie.overview %></p>
        <p><%= bookmark.movie.rating %></p>
      </div>
      
      <img src="<%= bookmark.movie.poster_url%>" alt="">
    <% end %>
  </div>
</div>